.headerContainer {
  box-sizing: border-box;
  caret-color: transparent;
}

.main {
  box-sizing: border-box;
  caret-color: transparent;
}

.heroSection {
  box-sizing: border-box;
  caret-color: transparent;
  height: auto;
}
@media (min-width: 768px) {
  .heroSection {
    height: 4000px;
  }
}

.heroInner {
  position: static;
  align-items: stretch;
  box-sizing: border-box;
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  opacity: 0;
  top: 0%;
}
@media (min-width: 768px) {
  .heroInner {
    position: sticky;
    height: 1000px;
    justify-content: center;
    opacity: 1;
  }
}

.heroContent {
  box-sizing: border-box;
  caret-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (min-width: 768px) {
  .heroContent {
    padding-left: 22.4px;
    padding-right: 22.4px;
  }
}

.heroGrid {
  position: relative;
  align-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  caret-color: transparent;
  column-gap: 1rem;
  display: flex;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: auto;
  justify-content: flex-start;
  justify-items: start;
  row-gap: 1rem;
  width: 100%;
  z-index: 1;
  padding-top: 102.4px;
}
@media (min-width: 768px) {
  .heroGrid {
    align-items: center;
    column-gap: normal;
    flex-direction: row;
    height: 1000px;
    justify-content: center;
    row-gap: normal;
    padding-top: 0;
  }
}

.heroImageContainer {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  caret-color: transparent;
  display: none;
  height: 600px;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 351px;
  z-index: -1;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}
@media (min-width: 768px) {
  .heroImageContainer {
    position: absolute;
    height: 512px;
    max-height: 700px;
    max-width: 700px;
    width: 512px;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}

.heroImage {
  position: absolute;
  box-sizing: border-box;
  caret-color: transparent;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.heroTitle {
  position: relative;
  font-size: 3rem;
  box-sizing: border-box;
  caret-color: transparent;
  letter-spacing: -1px;
  line-height: 52.8px;
  mix-blend-mode: difference;
  order: -1;
  text-align: left;
  z-index: 20;
}
@media (min-width: 768px) {
  .heroTitle {
    font-size: 73.6px;
    line-height: 73.6px;
    order: initial;
    text-align: center;
  }
}

.heroTitleWord {
  position: relative;
  font-size: 3rem;
  box-sizing: border-box;
  caret-color: transparent;
  display: inline-block;
  line-height: 52.8px;
  text-align: left;
}
@media (min-width: 768px) {
  .heroTitleWord {
    font-size: 73.6px;
    line-height: 73.6px;
    text-align: center;
  }
}

.heroDescription {
  position: relative;
  font-size: 19.2px;
  box-sizing: border-box;
  caret-color: transparent;
  line-height: 23.04px;
  max-width: none;
  min-height: auto;
  min-width: auto;
  word-break: keep-all;
  margin-right: auto;
  left: auto;
  bottom: auto;
}
@media (min-width: 768px) {
  .heroDescription {
    position: absolute;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 374px;
    min-height: 0;
    min-width: 374px;
    margin-right: 0;
    left: 0%;
    bottom: 22.4px;
  }
}