.container {
  position: fixed;
  box-sizing: border-box;
  caret-color: transparent;
  transform: translateY(-50%);
  z-index: 999;
  right: 0;
  top: 50%;
}

.link {
  box-sizing: border-box;
  caret-color: transparent;
  text-decoration: underline;
}

.icon {
  box-sizing: border-box;
  caret-color: transparent;
  height: 171.358px;
  width: 53.08px;
}