.container {
  position: fixed;
  box-sizing: border-box;
  caret-color: transparent;
  left: 0%;
  top: 0%;
}

.container::before {
  accent-color: auto;
  caret-color: transparent;
  color: white;
  display: table;
  font-size: 1rem;
  font-style: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  letter-spacing: normal;
  line-height: 1.5rem;
  list-style-position: outside;
  list-style-type: disc;
  pointer-events: auto;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  visibility: visible;
  border-collapse: separate;
  font-family: nhaasgrotesktxpro;
}

.container::after {
  accent-color: auto;
  caret-color: transparent;
  clear: both;
  color: white;
  display: table;
  font-size: 1rem;
  font-style: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  letter-spacing: normal;
  line-height: 1.5rem;
  list-style-position: outside;
  list-style-type: disc;
  pointer-events: auto;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  visibility: visible;
  border-collapse: separate;
  font-family: nhaasgrotesktxpro;
}