.container {
  font-size: 12.8px;
  align-items: center;
  box-sizing: border-box;
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  height: 19.2px;
  justify-content: flex-start;
  line-height: 19.2px;
  min-height: auto;
  min-width: auto;
  text-transform: uppercase;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    font-size: 1rem;
    align-items: normal;
    display: none;
    flex-direction: row;
    height: auto;
    justify-content: normal;
    line-height: 1.5rem;
    min-height: 0;
    min-width: 0;
    text-transform: none;
    overflow: visible;
  }
}

.text {
  font-size: 12.8px;
  box-sizing: border-box;
  caret-color: transparent;
  line-height: 19.2px;
  min-height: auto;
  min-width: auto;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .text {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 0;
    min-width: 0;
    text-transform: none;
  }
}